            body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            
            #topBar {
                text-align: right;
                list-style: none;
                background: rgb(94, 121, 139);
                background: -webkit-linear-gradient(to right, rgb(106, 146, 165), rgb(94, 121, 139));
                background: linear-gradient(to right, rgb(106, 146, 165), rgb(94, 121, 139));
                overflow: hidden;
            }
            
            #topBar a {
                color: white;
                font-size: 15px;
                margin-right: 20px;
                border-bottom: 3px solid transparent;
                text-decoration: none;
                float: right;
                display: block;
                text-align: center;
                padding: 10px 10px;
            }
            
            #topBar a:hover {
                border-bottom: 3px solid white;
            }
            
            #categoryBar a {
                text-decoration: none;
            }
            
            #categoryBar input[type=text] {
                border: none;
            }
            
            #categoryBar button {
                background: white;
                font-size: 17px;
                border: none;
                cursor: pointer;
            }
            
            #categoryBar button:hover {
                -moz-box-shadow: 3px 3px 3px 3px #ccc;
                -webkit-box-shadow: 3px 3px 3px 3px #ccc;
                box-shadow: 3px 3px 3px 3px #ccc;
            }
            
            #categoryBar {
                padding: 0;
                margin: 0;
                list-style: none;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: space-around;
            }
            
            #categoryBar a {
                border-bottom: 3px solid transparent;
            }
            
            #categoryBar a:hover {
                border-bottom: 3px solid rgb(63, 92, 124);
            }
            
            #categ {
                color: rgb(69, 98, 116);
                padding: 10px 10px;
                font-size: 15px;
            }
            
            .form-group {
                display: block;
                margin: 0 auto;
                width: 450px;
                transform: translateY(-190%);
            }
            
            .form-group ::placeholder {
                color: rgb(48, 106, 114);
            }
            
            .has-search .form-control {
                padding-left: 2.375rem;
                align-content: center;
            }
            
            .has-search .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 1.375rem;
                height: 1.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: rgb(44, 119, 138);
            }
            
             ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: transparent;
                opacity: 1;
                /* Firefox */
                font-style: solid;
            }
            
             :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: transparent;
                font-style: solid;
            }
            
             ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: transparent;
                font-style: solid;
            }
            
            .container-3 input#search {
                width: 150px;
                height: 50px;
                background: transparent;
                border: 1px solid rgb(87, 120, 133);
                border-radius: 100%;
                font-size: 15pt solid;
                float: left;
                color: transparent;
                padding-left: 45px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                color: transparent;
            }
            
            .container-3 input#placeholder {
                color: transparent;
            }
            
            .container-3 .icon {
                position: absolute;
                margin-left: 77px;
                margin-top: 17px;
                top: 0%;
                z-index: 1;
                color: transparent;
                -webkit-transition: all .55s ease;
                -moz-transition: all .55s ease;
                -ms-transition: all .55s ease;
                -o-transition: all .55s ease;
                transition: all .55s ease;
            }
            
            .centered {
                margin: 20px auto;
                width: 100%;
                max-width: 150px;
                height: 40px;
                text-align: center;
            }
            
            .container-3 {
                text-align: center;
                width: 300px;
                height: 100px;
                vertical-align: middle;
                white-space: nowrap;
                position: absolute;
            }
            
            .videosize {
                height: auto;
                min-height: 90%;
                width: 100vh;
                min-width: 100%;
            }
            
            h2 {
                color: rgb(47, 85, 74);
                font-size: 36px;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                position: relative;
                margin: 30px 0 80px;
            }
            
            h2 b {
                color: rgb(230, 230, 81);
            }
            
            h2::after {
                content: "";
                width: 100px;
                position: absolute;
                margin: 0 auto;
                height: 4px;
                background: rgba(0, 0, 0, 0.2);
                left: 0;
                right: 0;
                bottom: -20px;
            }
            
            .carousel {
                margin: 50px auto;
                padding: 0 70px;
            }
            
            .carousel .item {
                min-height: 330px;
                text-align: center;
                overflow: hidden;
            }
            
            .carousel .item .img-box {
                height: 160px;
                width: 100%;
                position: relative;
            }
            
            .carousel .item img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
            
            .carousel .item h4 {
                font-size: 18px;
                margin: 10px 0;
            }
            
            .carousel .item .btn {
                color: #333;
                border-radius: 0;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #ccc;
                padding: 5px 10px;
                margin-top: 5px;
                line-height: 16px;
            }
            
            .carousel .thumb-content .btn {
                color: #94af68;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #7b9256;
                padding: 6px 14px;
                margin-top: 5px;
                line-height: 16px;
                border-radius: 20px;
            }
            
            .carousel .thumb-content .btn:hover,
            .carousel .thumb-content .btn:focus {
                color: #fff;
                background: #8ba75f;
                box-shadow: none;
            }
            
            .carousel .thumb-content .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }
            
            .carousel .thumb-wrapper {
                text-align: center;
            }
            
            .carousel .thumb-content {
                padding: 15px;
            }
            
            .carousel .carousel-control {
                height: 100px;
                width: 40px;
                background: none;
                margin: auto 0;
                background: rgba(0, 0, 0, 0.2);
            }
            
            .carousel .carousel-control i {
                font-size: 30px;
                position: absolute;
                top: 50%;
                display: inline-block;
                margin: -16px 0 0 0;
                z-index: 5;
                left: 0;
                right: 0;
                color: rgba(0, 0, 0, 0.8);
                text-shadow: none;
                font-weight: bold;
            }
            
            .carousel .item-price {
                font-size: 13px;
                padding: 2px 0;
            }
            
            .carousel .item-price strike {
                color: #999;
                margin-right: 5px;
            }
            
            .carousel .item-price span {
                color: #86bd57;
                font-size: 110%;
            }
            
            .carousel .carousel-control.left i {
                margin-left: -3px;
            }
            
            .carousel .carousel-control.left i {
                margin-right: -3px;
            }
            
            .carousel .carousel-indicators {
                bottom: -50px;
            }
            
            .carousel-indicators li,
            .carousel-indicators li.active {
                width: 10px;
                height: 10px;
                margin: 4px;
                border-radius: 50%;
                border-color: transparent;
            }
            
            .carousel-indicators li {
                background: rgba(0, 0, 0, 0.2);
            }
            
            .carousel-indicators li.active {
                background: rgba(0, 0, 0, 0.6);
            }
            
            .star-rating li {
                padding: 0;
            }
            
            .star-rating i {
                font-size: 14px;
                color: rgb(236, 236, 32);
            }
            
            .carousel .wish-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 99;
                cursor: pointer;
                font-size: 16px;
                color: #abb0b8;
            }
            
            .carousel .wish-icon .fa-heart {
                color: #ff6161;
            }
            /* Use a media query to add a break point at 800px: */
            
            @media screen and (max-width:800px) {
                .left,
                .main,
                .right {
                    width: 100%;
                    /* The width is 100%, when the viewport is 800px or smaller */
                }
            }
            
            @media only screen and (max-width:620px) {
                /* For mobile phones: */
                .w3-bar {
                    width: 100%;
                }
            }
            /*  background-image: url("./assets/promo4.jpg");
*/
            
            .promo {
                background: url("./assets/video3.mp4");
                opacity: 0.9;
                min-height: 250px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            
            .promo:hover {
                opacity: 1.0;
            }
            
            .promoText {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                padding: 50px 0;
            }
            
            .promoText {
                color: white;
                font-size: 22px;
            }
            
            .promoButton {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .promoButton button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                /* Safari */
                transition-duration: 0.4s;
            }
            
            .promoButton button {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .promoButton button:hover {
                background: rgb(97, 207, 100);
                box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
            /* second carousel
            
            /*line-header productsPage*/
            
            .header-search {
                background: rgb(179, 206, 211);
                padding: 20px 0 10px;
                font-size: 15px;
                line-height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                padding: 20px 0;
            }
            
            .header-search input {
                padding: 10px;
                font-size: 17px;
                border: 1px solid rgb(14, 74, 85);
                float: left;
                width: 200%;
            }
            
            .header-search #header-button {
                margin-left: 80px;
            }
            
            #header-button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 7px;
                width: 100px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 2px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                /* Safari */
                transition-duration: 0.4s;
            }
            
            #header-button {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            #header-button:hover {
                box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
            /*product area*/
            
            .product-area {
                padding: 20px 0 10px;
                line-height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle
            }
            
            .second-row {
                padding: 20px 0 10px;
                line-height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle
            }
            
            .carousel .wish-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 99;
                cursor: pointer;
                font-size: 16px;
                color: #abb0b8;
            }
            
            .wish-icon .fa-heart {
                color: #ff6161;
            }
            
            .carousel .item .btn {
                color: #333;
                border-radius: 0;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #ccc;
                padding: 5px 10px;
                margin-top: 5px;
                line-height: 16px;
            }
            
            .thumb-content .btn {
                color: #94af68;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #7b9256;
                padding: 6px 14px;
                margin-top: 5px;
                line-height: 16px;
                border-radius: 20px;
            }
            
            .thumb-content .btn:hover,
            .thumb-content .btn:focus {
                color: #fff;
                background: #8ba75f;
                box-shadow: none;
            }
            
            .thumb-content .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }
            
            .item {
                min-height: 330px;
                text-align: center;
                overflow: hidden;
            }
            
            .item .img-box {
                height: 160px;
                width: 100%;
                position: relative;
            }
            
            .item img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
            
            .item h4 {
                font-size: 18px;
                margin: 10px 0;
            }
            /* line-footer */
            
            .line-footer {
                background: rgb(219, 48, 154);
                background: -webkit-linear-gradient(to right, rgb(235, 75, 187), rgb(219, 48, 154));
                background: linear-gradient(to right, rgb(235, 75, 187), rgb(219, 48, 154));
                padding: 20px 0 10px;
                font-size: 15px;
                line-height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                padding: 20px 0;
            }
            
            .line-footer h5 {
                color: white;
                font-size: 19px;
                letter-spacing: 2px;
                vertical-align: middle
            }
            
            .line-footer #footer-button {
                margin-left: 60px;
            }
            
            h5 {
                display: flex;
                align-items: center
            }
            
            #footer-button {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            #footer-button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                /* Safari */
                transition-duration: 0.4s;
            }
            
            #footer-button {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            #footer-button:hover {
                background: rgb(97, 207, 100);
                box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
            /*footer*/
            
            .site-footer {
                background: rgb(94, 121, 139);
                background: -webkit-linear-gradient(to right, rgb(106, 146, 165), rgb(94, 121, 139));
                background: linear-gradient(to right, rgb(106, 146, 165), rgb(94, 121, 139));
                padding: 25px 0 10px;
                font-size: 15px;
                line-height: 20px;
                color: #737373;
            }
            
            .site-footer hr {
                border-top-color: #bbb;
                opacity: 0.5
            }
            
            .site-footer hr.small {
                margin: 10px 0
            }
            
            .site-footer h6 {
                color: rgb(213, 219, 152);
                font-size: 20px;
                text-transform: uppercase;
                margin-top: 5px;
                letter-spacing: 2px
            }
            
            .site-footer a {
                color: white;
            }
            
            .site-footer a:hover {
                color: #c6eb23;
                text-decoration: none;
            }
            
            .footer-links {
                padding-left: 0;
                list-style: none
            }
            
            .footer-links li {
                display: block
            }
            
            .footer-links a {
                color: white
            }
            
            .footer-links a:active,
            .footer-links a:focus,
            .footer-links a:hover {
                color: yellow;
                text-decoration: none;
            }
            
            .footer-links.inline li {
                display: inline-block
            }
            
            .site-footer .social-icons {
                text-align: right
            }
            
            .site-footer .social-icons a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                border-radius: 100%;
                background-color: #33353d
            }
            
            .copyright-text {
                margin: 0;
                color: white
            }
            
            @media (max-width:991px) {
                .site-footer [class^=col-] {
                    margin-bottom: 30px
                }
            }
            
            @media (max-width:767px) {
                .site-footer {
                    padding-bottom: 0
                }
                .site-footer,
                .site-footer .social-icons {
                    text-align: center
                }
            }
            
            .social-icons {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            }
            
            .social-icons li {
                display: inline-block;
                margin-bottom: 4px
            }
            
            .social-icons li.title {
                margin-right: 15px;
                text-transform: uppercase;
                color: #96a2b2;
                font-weight: 700;
                font-size: 13px
            }
            
            .social-icons a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                height: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear
            }
            
            .social-icons a:active,
            .social-icons a:focus,
            .social-icons a:hover {
                color: #fff;
                background-color: #29aafe
            }
            
            .social-icons.size-sm a {
                line-height: 34px;
                height: 34px;
                width: 34px;
                font-size: 14px
            }
            
            .social-icons a.facebook:hover {
                background-color: #3b5998
            }
            
            .social-icons a.youtube:hover {
                background-color: red
            }
            
            .social-icons a.linkedin:hover {
                background-color: #007bb6
            }
            
            .social-icons a.instagram:hover {
                background-color: rgb(228, 60, 88)
            }
            
            .text-justify {
                color: white
            }
            
            @media (max-width:767px) {
                .social-icons li.title {
                    display: block;
                    margin-right: 0;
                    font-weight: 600
                }
            }
            /*dropdown*/
            
            .dropdown-content {
                display: none;
                position: absolute;
                z-index: 1;
            }
            
            .dropdown-content a {
                color: black;
                border-radius: 60px;
                background: transparent;
                padding: 10px 5px;
                text-decoration: none;
                display: block;
                width: 140px;
                text-align: center;
            }
            
            .dropdown-content a:hover {
                color: white;
                background: transparent;
                background: -webkit-linear-gradient(to right, transparent, rgb(35, 105, 126));
                background: linear-gradient(to right, transparent, rgb(35, 105, 126));
                box-shadow: 0 32px 26px 0 rgb(41, 130, 146), 0 17px 50px 0 rgb(41, 130, 146);
            }
            
            .dropdown:hover .dropdown-content {
                display: block;
            }
            
            .brand-shop {
                padding: 0;
                margin: 0;
                list-style: none;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: space-around;
            }
            
            .sec-container {
                margin-left: 220px
            }
            /*cart/ product card/ add to cart*/
            
            .cart-btn {
                position: relative;
                cursor: pointer;
            }
            
            .cart-items {
                position: absolute;
                top: 10px;
                right: 6px;
                background: var(--primaryColor);
                padding: 0 5px;
                border-radius: 30%;
                color: var(--mainWhite);
            }
            /* --------------- Products ---------------- */
            
            .products {
                padding: 4rem 0;
            }
            
            .section-title h2 {
                text-align: center;
                font-size: 2.5rem;
                margin-bottom: 5rem;
                text-transform: capitalize;
                letter-spacing: var(--mainSpacing);
            }
            
            .products-center {
                width: 90vw;
                margin: 0 auto;
                max-width: 1170px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                grid-column-gap: 1.5rem;
                grid-row-gap: 2rem;
            }
            
            .img-container1 {
                position: relative;
                overflow: hidden;
            }
            
            .bag-btn {
                position: absolute;
                top: 70%;
                right: 0;
                background: var(--primaryColor);
                border: none;
                text-transform: uppercase;
                padding: 0.5rem 0.75rem;
                letter-spacing: var(--mainSpacing);
                font-weight: bold;
                transition: var(--mainTransition);
                transform: translateX(101%);
                cursor: pointer;
            }
            
            .bag-btn:hover {
                color: var(--mainWhite);
            }
            
            .fa-shopping-cart {
                margin-right: 0.5rem;
            }
            
            .img-container1:hover .bag-btn {
                transform: translateX(0);
            }
            
            .product-img1 {
                display: block;
                width: 100%;
                min-height: 12rem;
                height: 250px;
                width: 250px;
                transition: var(--mainTransition);
            }
            
            .img-container1 img:hover {
                box-shadow: 0 39px 29px 0 rgba(0, 0, 0, 0.24), 0 27px 50px 0 rgba(0, 0, 0, 0.19);
            }
            
            .product h3 {
                text-transform: capitalize;
                font-size: 0.7rem;
                font-size: 16px;
                margin-top: 1rem;
                letter-spacing: var(--mainSpacing);
                text-align: center;
                font-style: italic;
                color: rgb(27, 96, 136);
            }