body {
    text-align: center;
}

#bacteria img {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100px;
}

@keyframes bacteriaBeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.97);
    }
    35% {
        transform: scale(.9);
    }
    45% {
        transform: scale(1.1);
    }
    55% {
        transform: scale(.9);
    }
    65% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

#bacteria img.bottom {
    animation-name: bacteriaBeat;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}